body {
    background-image: url("../img/sky.jpg");
}
#container {
    position: relative;
    width: 360px;
    margin: 15% auto;
}
.planet {
    position: absolute;
    top: 120px;
    left: 120px;
}
.planet {
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count:  infinite;
    animation-name: orbit;
}
.ring {
    animation: orbit 20s linear infinite reverse;
}
@keyframes orbit {
    100% { transform: rotate(360deg);
}